.container {
    background: linear-gradient(186deg, rgba(0, 0, 0, 1) 0%, rgba(0, 134, 255, 1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;

    padding-top: 30px;
    gap: 30px;
    align-items: center;
    flex-direction: column;


}

.title {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.bostContainer {
    background: rgba(255, 255, 255, 0.242);
    width: 92%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bostCard {
    display: flex;
    align-items: center;
    gap: 20px;
}

.iconContainer {
    padding: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.287);
}

.bostCardInfo {
    display: flex;
    flex-direction: column;

}

.cardTitle {
    color: rgb(233, 233, 233);
    font-weight: 600;
    font-size: 16px;
}

.cardamount {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(137, 137, 137);
    font-weight: 600;
    font-size: 14px;
}

.levl {
    color: rgb(137, 137, 137);
    font-weight: 600;
    font-size: 14px;
}

